<!DOCTYPE HTML>
<html>
	<head>
		<title>CancerDetectLab</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nonscript.css') }}"></noscript>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="index.html">CancerDetectLab</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="/leukemia" >Acute Lymphoblastic Leukemia</a>
						</li>
						<li>
							<a href="/BreastCancer" >Breast Cancer</a>
						</li>
						<li><a target="_blank" href="https://github.com/MAmmarRaza/CancerDetectLab.git">Source Code</a></li>
						<li><a href="#four" class="button primary  scrolly">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Acute Lymphoblastic Leukemia Classification</h2>
						<p>Analyze and classify leukemia cell images using machine learning</p>
					</header>

					<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"><img src="https://cdn.pixabay.com/photo/2016/11/10/02/47/blood-1813410_1280.jpg" alt="" /></a>
							<h3>Acute Lymphoblastic Leukemia Classification</h3>
							<p>This project focuses on the classification of acute lymphoblastic leukemia (ALL) using deep learning techniques. By utilizing the fastai library, we develop a model that can accurately classify microscopic images of blood cells as either ALL-positive or ALL-negative. The dataset used for this project contains a collection of microscopic images of blood cells obtained from patients with acute lymphoblastic leukemia.</p>
							<p>The model is trained on a large number of labeled images to learn the distinguishing features of ALL-positive and ALL-negative cells. It takes into account various characteristics of the cells, such as shape, size, and texture, to make accurate predictions.</p>
							<h3>About Acute Lymphoblastic Leukemia</h3>
							<p>Acute lymphoblastic leukemia (ALL) is a type of blood cancer that primarily affects lymphoid cells. It is characterized by the uncontrolled proliferation of immature lymphoblasts in the bone marrow and blood. ALL is the most common type of cancer in children, but it can also occur in adults.</p>
							<ul>
								<li>Benign: This subtype refers to non-cancerous or non-malignant conditions, indicating the absence of leukemia.</li>
								<li>Early Pre-B ALL: This subtype is characterized by the presence of early-stage B-cell precursors, called early pre-B cells. These cells have not yet undergone certain stages of maturation, such as the rearrangement of immunoglobulin heavy chain genes.</li>
								<li>Pre-B ALL: Pre-B ALL represents a more advanced stage of B-cell development. The malignant lymphoblasts in this subtype have undergone successful rearrangement of immunoglobulin heavy chain genes.</li>
								<li>Pro-B ALL: Pro-B ALL is the earliest stage of B-cell development among the B-cell precursor ALL subtypes. The malignant lymphoblasts in Pro-B ALL have not yet undergone rearrangement of immunoglobulin heavy chain genes.</li>
							</ul>
							
						</section>

				</div>
			</div>

			<!-- Four -->
			<section id="four" class="wrapper style1 special fade-up" style="background-color: #272833;">
				<div class="container">
					<form class="form-container" enctype='multipart/form-data' action="/predictAll" method="POST">
						<div class="upload-files-container">
							<div class="drag-file-area">
								<span class="material-icons-outlined upload-icon"> Predict Now! </span>
								<h3 class="dynamic-message"> Drag & drop any file here </h3>
								<label class="label"> or <span class="browse-files"> <input type="file" name="image" class="default-file-input"/> <span class="browse-files-text">browse file</span> <span>from device</span> </span> </label>
							</div>
							<span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
							<div class="file-block">
								<div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
								<span class="material-icons remove-file-icon">delete</span>
								<div class="progress-bar"> </div>
							</div>
							<input type="submit" class="upload-button"></input>
						</div>
					</form>
					<!-- <a href="#five" class="goto-next scrolly">Next</a> -->
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer" style="background-color: #1C1D26;">
				<!-- <ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul> -->
				<ul class="copyright">
					<li>&copy; Copyright. All rights reserved.</li><li>Design By: <a href="#">NTU Students</a></li>
				</ul>
			</footer>
		</div>

		<script src="{{ url_for('static', filename='js/code.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>