<!DOCTYPE HTML>

<html>
	<head>
		<title>CancerDetectLab</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nonscript.css') }}"></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="index.html">CancerDetectLab</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="/leukemia" >Acute Lymphoblastic Leukemia</a>
						</li>
						<li>
							<a href="/BreastCancer" >Breast Cancer</a>
						</li>
						<li><a target="_blank" href="https://github.com/MAmmarRaza/CancerDetectLab.git">Source Code</a></li>
						<li><a href="#four" class="button primary  scrolly">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h2>Early Detection of Cancer</h2>
						<p>Empowering healthcare with AI and deep learning.</p>
					</header>
					<span class="image"><img src="https://images.pexels.com/photos/6798710/pexels-photo-6798710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Project Image" /></span>
				</div>
				<a href="#one" class="goto-next scrolly">Next</a>
			</section>
			
			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="https://images.pexels.com/photos/8384602/pexels-photo-8384602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Project Image" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<header>
									<h2  style="color: #E44C65;">Early Breast Cancer Detection</h2>
									<p>Identifying breast cancer at the earliest stage.</p>
								</header>
							</div>
							<div class="col-4 col-12-medium">
								<p>Our project aims to develop an AI-powered system that utilizes deep learning techniques to detect breast cancer in its early stages. By analyzing histopathological images of breast tissue, our system can provide accurate and timely identification of potential malignancies.</p>
							</div>
							<div class="col-4 col-12-medium">
								<p>With early detection, we can improve patient outcomes, increase survival rates, and provide more targeted and effective treatment options. Our project combines the power of artificial intelligence, medical imaging, and machine learning to revolutionize breast cancer diagnosis and contribute to saving lives.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>
			
			
			<!-- Four -->
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<form class="form-container" enctype='multipart/form-data' action="/predict" method="POST">
						<div class="upload-files-container">
							<div class="drag-file-area">
								<span class="material-icons-outlined upload-icon"> Predict Now! </span>
								<h3 class="dynamic-message"> Drag & drop any file here </h3>
								<label class="label"> or <span class="browse-files"> <input type="file" name="image" class="default-file-input"/> <span class="browse-files-text">browse file</span> <span>from device</span> </span> </label>
							</div>
							<span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
							<div class="file-block">
								<div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
								<span class="material-icons remove-file-icon">delete</span>
								<div class="progress-bar"> </div>
							</div>
							<input type="submit" class="upload-button"></input>
						</div>
					</form>
					<!-- <a href="#five" class="goto-next scrolly">Next</a> -->
				</div>
			</section>


			<!-- Two -->
			<section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="https://cdn.pixabay.com/photo/2016/11/10/02/47/blood-1813410_1280.jpg" alt="Project Image" /></span>
				<div class="content">
					<header>
						<h2 style="color: #E44C65;">Acute Lymphoblastic Leukemia</h2>
						<p>Personalizing acute lymphoblastic leukemia treatment for better outcomes.</p>
					</header>
					<p>Our project leverages predictive analytics and machine learning algorithms to assist in treatment planning for acute lymphoblastic leukemia patients.</p>
					<ul class="actions">
						<li><a href="/leukemia" class="button">Learn More</a></li>
					</ul>
				</div>
				<a href="#four" class="goto-next scrolly">Next</a>
			</section>			


			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<form class="form-container" enctype='multipart/form-data' action="/predictAll" method="POST">
							<div class="upload-files-container">
								<div class="drag-file-area">
									<span class="material-icons-outlined upload-icon"> Predict Now! </span>
									<h3 class="dynamic-message"> Drag & drop any file here </h3>
									<label class="label"> or <span class="browse-files"> <input type="file" name="image" class="default-file-input"/> <span class="browse-files-text">browse file</span> <span>from device</span> </span> </label>
								</div>
								<span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
								<div class="file-block">
									<div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
									<span class="material-icons remove-file-icon">delete</span>
									<div class="progress-bar"> </div>
								</div>
								<input type="submit" class="upload-button"></input>
							</div>
						</form>
						<!-- <a href="#five" class="goto-next scrolly">Next</a> -->
					</div>
				</section>

			<!-- Five -->
			<section id="five" class="wrapper style2 special fade">
				<div class="container">
					<header>
						<h2>Stay Updated with Our Project</h2>
						<p>Subscribe to receive project updates and news.</p>
					</header>
					<form method="post" action="#" class="cta">
						<div class="row gtr-uniform gtr-50">
							<div class="col-8 col-12-xsmall">
								<input type="email" name="email" id="email" placeholder="Your Email Address" />
							</div>
							<div class="col-4 col-12-xsmall">
								<input type="submit" value="Subscribe" class="fit primary" />
							</div>
						</div>
					</form>
				</div>
			</section>			

			<!-- Footer -->
				<footer id="footer">
					<!-- <ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul> -->
					<ul class="copyright">
						<li>&copy; Copyright. All rights reserved.</li><li>Design By: <a href="#">NTU Students</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/code.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>