<!DOCTYPE HTML>

<html>
	<head>
		<title>CancerDetectLab</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nonscript.css') }}"></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="index.html">CancerDetectLab</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="/leukemia" >Acute Lymphoblastic Leukemia</a>
						</li>
						<li>
							<a href="/BreastCancer" >Breast Cancer</a>
						</li>
						<li><a target="_blank" href="https://github.com/MAmmarRaza/CancerDetectLab.git">Source Code</a></li>
						<li><a href="#four" class="button primary  scrolly">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<span class="image" style="text-align: left;"><img src="data:image/png;base64,{{  resnet_response.image_details.data }}" alt="Project Image" /></span>
						<h2 id="heading">{{ resnet_response.predicted_class_name }}</h2>
                        <p id="detail"></p>
					</header>
				</div>
				<a href="#five" class="goto-next scrolly">Next</a>
			</section>
			

			<!-- Five -->
			<section id="five" class="wrapper style2 special fade">
				<div class="container">
					<header>
						<h2>Stay Updated with Our Project</h2>
						<p>Subscribe to receive project updates and news.</p>
					</header>
					<form method="post" action="#" class="cta">
						<div class="row gtr-uniform gtr-50">
							<div class="col-8 col-12-xsmall">
								<input type="email" name="email" id="email" placeholder="Your Email Address" />
							</div>
							<div class="col-4 col-12-xsmall">
								<input type="submit" value="Subscribe" class="fit primary" />
							</div>
						</div>
					</form>
                    <a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>			

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; Copyright. All rights reserved.</li><li>Design By: <a href="#">NTU Students</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/code.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

			<script>
				// Get the predicted class
				var predictedClass = "{{ resnet_response.predicted_class_name }}";
			
				// Get the detail element
				var detailElement = document.getElementById("detail");
			
				// Get the image details
				var filename = "{{ resnet_response.image_details.filename }}";
				var size = "{{ resnet_response.image_details.size }} bytes";
				var type = "{{ resnet_response.image_details.type }}";
			
				// Modify the inner HTML based on the predicted class and image details
				if (predictedClass === "Benign") {
					var explanation = "This subtype is characterized by non-cancerous cells and does not pose a significant health risk.";
					detailElement.innerHTML += "" + explanation + "<br>Filename: " + filename + "<br>Size: " + size + "<br>Type: " + type;
				} else if (predictedClass === "Early") {
					var explanation = "Early Pre-B ALL: This subtype is characterized by the presence of early-stage <br> B-cell precursors, called early pre-B cells. These cells have not <br> yet undergone certain stages of maturation, such as the rearrangement of <br> immunoglobulin heavy chain genes.";
					detailElement.innerHTML += "" + explanation + "<br>Filename: " + filename + "<br>Size: " + size + "<br>Type: " + type;
				} else if (predictedClass === "Pre") {
					var explanation = "Pre-B ALL: Pre-B ALL represents a more advanced stage of B-cell development. The <br> malignant lymphoblasts  in this subtype have undergone successful <br> rearrangement of immunoglobulin heavy chain genes.";
					detailElement.innerHTML += "" + explanation + "<br>Filename: " + filename + "<br>Size: " + size + "<br>Type: " + type;
				} else if (predictedClass === "Pro") {
					var explanation = "Pro-B ALL: Pro-B ALL is the earliest stage of B-cell development among the <br> B-cell  precursor ALL subtypes. The malignant lymphoblasts in Pro-B ALL have <br> not yet undergone rearrangement of immunoglobulin heavy chain genes.";
					detailElement.innerHTML += "" + explanation + "<br>Filename: " + filename + "<br>Size: " + size + "<br>Type: " + type;
				}
			</script>
	</body>
</html>